@import '../../variables.scss';

.add-posts{
    display: flex;
    .input-posts{
        width: 100%;
        background-color: white;
        padding: 0 15px;
        border-radius: 10px;
    }
}
.box-modal{
    border-radius: 5px;
    .modal-container{
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5px;
            border-bottom: 1px solid $theme-border-dark;
            .title{
                width: 90%;
                text-align: center;
                color: $theme-font-dark;
                h2{
                    margin: 0;
                }
            }
            .close{
                width: 10%;
            }
        }
        .body{
            padding: 10px 0;
            .profile{
                display: flex;
                justify-content: start;
                .admin-posts{
                    .limited-view{
                        button{
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 3px;
                            span{
                                padding-left: 3px;
                            }
                        }
                    }
                }
            }
            .text-posts{
                display: flex;
                .react-emoji{
                    align-items: start;
                    .react-input-emoji--container{
                        border-radius: 5px !important;
                        .react-input-emoji--wrapper{
                            .react-input-emoji--placeholder{
                                margin-top: 10px;
                                align-items: start;
                            }
                            .react-input-emoji--input{
                                min-height: 5rem;
                                border-radius: 10px;
                            }
                        }
                    }
                    .react-input-emoji--button{
                        margin-top: 10px;
                    }
                }
            }
            .photo-video-posts{
                border: 1px solid $theme-border-dark;
                border-radius: 5px;
                margin: 5px 10px;
                padding: 5px 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .label-posts{
                    width: 70%;
                }
                .button-photo-video{
                    width: 30%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .footer{
            button{
                border-radius: 5px;
                background: $theme-base;
                width: 100%;
                font-size: 1rem;
                color: white;
            }
        }
    }
}