.main {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 20px;
    }
}

* {
    animation: flasher 0.5s;
}

@keyframes flasher{
   0% {
      opacity: 0;
   }
   100% {
     opacity: 1;
   }
}