.main {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 20px;
    }
}

.anim-show-content {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.anim-hide-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}